/*Compose items                                                         */
/*                                                                      */


textarea, textarea:hover {
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
}

#message-title
{
    font-size: 24px;
    text-align: left;

    letter-spacing: 2px;
    padding: 15px 20px 5px 20px;
}

#message-to
{
    font-size: 20px;
    text-align: left;

    letter-spacing: 2px;
    line-height: 20px;

    padding: 15px 22px 5px 22px;
}

#message-body
{
    font-size: 16px;
    height: 300px;

    line-height: 24px;
    padding: 20px 25px 20px 25px;
}

.button {
    background-color: #e1e1e2;
    color: grey;
    border: 1px solid #aaaaaa;
}

.button:hover {
    background-color: #d1d1d2;
    color: grey;
}

.button:selection {
    background: red;
}