textarea, textarea:hover {
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
}

#message-title {
    font-size: 24px;
    text-align: center;
}

#message-body {
    font-size: 14px;
    height: 100px;
}

.button {
    background-color: #e1e1e2;
    color: grey;
    border: 1px solid #aaaaaa;
}

.button:hover {
    background-color: #d1d1d2;
    color: grey;
}

.button:selection {
    background: red;
}