
/* --- BEGIN INBOX --- */

.header {
	background-color: #282623;
	background-image: url('../img/background.png');
	background-size: 100%;

	color: #EFEFEF;

	border-bottom: solid 1px #e4f1f7;
	height: 65px;
}

#logo
{
	background-color: #282623;
	padding-top: 10px;

	font-size: 26px;
}

	#logo>img
	{
		width: 40px;
	}

 .graph {
	height: 25px;
	width: 100%;
}

 p.small {
	font-size: 8px;
	line-height: 110%;
}

 .sidebar {
	border-right: solid 1px #e4f1f7;
}
 .sidebar .row_header {
	color: #666;
	margin-left: 5px;
	margin-bottom: 0;
}
 .sidebar ol { margin-left: 5px; list-style: none; }
 .sidebar a {
	text-decoration: none;
	color: #666;
}
 .sidebar li { padding-left: 5px; }
 .sidebar li:hover { background-color: #e4f1f7; }
 .sidebar img {
	width: 25%;
	position: absolute;
	bottom: 0;
	left: 0;
}

 .body {
	position: absolute;
	top: 155px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
 .full { height: 100%; }
 .contents {
	position: relative;
	border-right: solid 1px #e4f1f7;
	width: 779px;
}

 .actions {
	border-bottom: solid 1px #e4f1f7;
}
 .actions .input-prepend { margin-bottom: 5px; }

 .messageList {
	overflow: scroll;
	position: absolute;
	top: 41px;
	left: -40px;
	bottom: 0;
}
 .messageList hr { margin: 0; border-bottom: none; }

 .mailMessage { padding: 5px 0; }
 .mailMessage:hover { background-color: #e4f1f7; }
 .messagePadding { padding-left: 5px; }
 .mailMessage .span1 { width: 55px; }
 .mailMessage h5 { margin: 0; }
 .mailMessage p {
	font-size: 12px;
	margin: 0;
}


/* Make images circular and center them */

#user-tab
{
	background-color: #282623;

	/*float: right;*/
	cursor: pointer;

	padding-top: 10px;
	padding-bottom: 12px;
}

	#user-tab:hover{ background-color: #373430;}

#username
{
	display: inline-block;
	color: #EFEFEF;

	margin: auto;
	padding-right: 15px;

	vertical-align: middle;

	font-size: 26px;
	font-weight: normal;
}


.circular {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /*margin-bottom: 20px;*/

    /*margin: 15px auto;*/
}


/*---- Message List CSS ----*/

.panel.message-list {
    padding-left: 15px;
    padding-right: 15px;
    padding: 0px 15px;
}

ul {
    list-style: none;
}

li.item-wrapper {
    border-bottom: 1px solid #ccc;
    padding: 2px 6px 2px 6px;

    cursor: pointer;
}

a.item-importance
{
	text-align: center;
}

a.item-type-icon>i
{
	font-size: 14px;
	vertical-align: middle;
}

li: last-child {
    border: none;
}

li a {
    text-decoration: none;
    color: #000;
    display: block;
    -webkit-transition:  background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

li a:hover {
    color: #16181A;
}

li:hover {
    background: #f6f6f6;
}


