body.login .login_page { display:block; }
body.login .inbox_page { display:none; }

body.inbox .login_page { display:none; }
body.inbox .inbox_page { display:block; }

body.login {
	background-color: black;
	background-image: url('../img/curtains.png');
	background-size: 100%;
	background-repeat: no-repeat;
}


body.login .login_box {
	position: absolute;
	width: 600px;
	height: 400px;
	background-color: #E0E0E0;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -300px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 72px rgba(186, 197, 255, 1);
}

body.login .login_box img { width: 75%;	}

/* --- BEGIN INBOX --- */

body.inbox .header {
	background-color: #a4aec6;
	background-image: url('../img/background.png');
	background-size: 100%;
	border-bottom: solid 1px #e4f1f7;
	height: 150px;
	padding-top: 5px;
}

body.inbox .graph {
	height: 25px;
	width: 100%;
}

body.inbox p.small {
	font-size: 8px;
	line-height: 110%;
}

body.inbox .sidebar {
	border-right: solid 1px #e4f1f7;
	width: 139px;
	position: relative;
}
body.inbox .sidebar .row_header {
	color: #666;
	margin-left: 5px;
	margin-bottom: 0;
}
body.inbox .sidebar ol { margin-left: 5px; list-style: none; }
body.inbox .sidebar a {
	text-decoration: none;
	color: #444;
}
body.inbox .sidebar li { padding-left: 5px; }
body.inbox .sidebar li:hover { background-color: #e4f1f7; }
body.inbox .sidebar img {
	width: 25%;
	position: absolute;
	bottom: 0;
	left: 0;
}

body.inbox .body {
	position: absolute;
	top: 155px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
body.inbox .full { height: 100%; }
body.inbox .contents {
	position: relative;
	border-right: solid 1px #e4f1f7;
	width: 779px;
}

body.inbox .actions {
	border-bottom: solid 1px #e4f1f7;
}
body.inbox .actions .input-prepend { margin-bottom: 5px; }

body.inbox .messageList {
	overflow: scroll;
	position: absolute;
	top: 41px;
	left: -40px;
	bottom: 0;
	border-right: solid 1px #e4f1f7;
}
body.inbox .messageList hr { margin: 0; border-bottom: none; }

body.inbox .mailMessage { padding: 5px 0; }
body.inbox .mailMessage:hover { background-color: #e4f1f7; }
body.inbox .messagePadding { padding-left: 5px; }
body.inbox .mailMessage .span1 { width: 55px; }
body.inbox .mailMessage h5 { margin: 0; }
body.inbox .mailMessage p {
	font-size: 12px;
	margin: 0;
}

body.inbox .message-detail .message { display: block; }
body.inbox .message-detail .home-view { display: none; }
body.inbox .show-home .message { display: none; }
body.inbox .show-home .home-view { display: block; }
